@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'code';
  src: url('/fonts/monocode-medium.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
 font-family: 'code', monospace;
}

body {
  color: rgb(var(--foreground-rgb));
  padding: 0;
  color: rgb(154, 245, 230);
  background-color: rgb(31, 36, 42);
}

.panel-bg {
  background-color: rgba(236, 236, 236, 0.2);
}

li.circle-bg {
  background-color: rgba(236, 236, 236, 0.2);
  border-radius: 9999px;
  z-index: 4;
  margin-top: -25px;
  padding: 30px;
}

li.circle-bg:hover {
  background-color: rgba(236, 236, 236, 0.4);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
